
@import '~bulma';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto+Condensed:400,700');

/*
 *
 * GENERAL
 *
 */

$white: #fff;
$font-main: #243949;
$font-light: #768793;

$light: #f1f2f4;
$deep: #373e4e;
$grey: #d3d3d3;

body {
    color: $font-main;
    background: $light;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active {
    color: $font-main;
    border: none;
    outline: none;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

.logo-link {
    display: flex;
    justify-content: center;
}

.logo {
    max-height: 4em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 0.25em;
    line-height: 1;
    font-weight: 700;
}

h1,
h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 3.5em;
}


h2 {
    font-size: 2.75em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

.card {
    padding: 1em;
    margin-bottom: 1.25em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    color: $font-main;
}

.pagination ul {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    background: $white;
    margin-bottom: 1.25em;
    padding: 0 0.5em;

    .active {
        font-weight: 700;
    }

    a {
        display: block;
        padding: 0.75em 0.5em;
    }
}

@keyframes loading {
    to {
        background-position:
        350% 0,
        0 0,
        0 28px,
        0 64px;
    }
}

/*
 *
 * HEADER
 *
 */

.section--header {
    background-image: linear-gradient(-5deg, #243949 0%, #16222d 100%);
    position: relative;
    z-index: 10;
    padding: 1em 0 0;

    h1 {
        margin: 0;
    }

    &,
    h1,
    a {
        color: $white;
    }
}

.menu {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;

    .menu--icons {
        padding: 1rem 1.5rem;
    }

    .menu--link {
        display: block;
        height: 2rem;
        width: 2rem;
        padding: 0.25rem;
    }

    .menu--items {
        height: 0;
        overflow: hidden;
        transition: height 0.2s;
    }

    &.menu--open .menu--items {
        max-height: 300px;
    }

    .menu--item {
        font-size: 1.25em;
        display: block;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;
        border-bottom: 0.25rem solid rgba(22, 35, 46, 0.46);

        &:last-child {
            border: none;
        }
    }
}

/*
 *
 * CONTENT
 *
 */

.section--content {
    background: $light;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    @include until($tablet) {
        padding-left: 0;
        padding-right: 0;
    }
}

/*
 *
 *  FOOTER
 *
 */

.section--footer {
    background: $white;
    position: relative;
    z-index: 10;
}


/*
 *
 * TOPIC
 *
 */

.topic {
    font-family: 'Roboto Condensed', sans-serif;

    .topic__title,
    .topic__user,
    .info, {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h2 {
        font-size: 1.25em;
        /* sceleton screen */
        &:empty {
            width: 100%;
            height: 20px;

            background-repeat: no-repeat;
            background-image:
                linear-gradient(90deg, rgba($white, 0) 0, rgba($white, 0.3) 60%, rgba($white, 0) 100%),
                linear-gradient($grey 40px, transparent 0);

            background-size:
                70%,
                70% 20px; /* title */


            background-position:
                -150% 0,
                0 0, /* title */
            }

            animation: loading 1.5s infinite;
    }

    .topic_user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        padding-bottom: 0.25rem;
        border-bottom: 2px solid #dde2e4;
        margin-bottom: 0.5rem;
    }

    h3 {
        margin: 0;
        font-size: 1em;
        font-weight: 700;
        color: $font-light;

        &:empty {
            width: 100%;
            height: 21px;

            background-repeat: no-repeat;
            background-image:
                linear-gradient(90deg, rgba($white, 0) 0, rgba($white, 0.3) 60%, rgba($white, 0) 100%),
                linear-gradient($grey 16px, transparent 0);

            background-size:
                70%,
                20% 16px;


            background-position:
                -150% 0,
                0 0,
            }

            animation: loading 1.5s infinite;
    }

    .info--left,
    .info--right  {
        align-items: center;
        display: flex;

        img {
            margin: 0 0.25rem;
        }
    }

    .info {
        font-size: 0.9em;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1rem;
        padding-top: 0.75rem;
    }

    .info--right {
        text-align: right;
    }

    .info--time {
        color: $font-light;
        font-size: 0.9rem;
    }
}


.post_content {
    .smallfont {
        font-weight: 700;
    }
    table td {
        border: 0 !important;
        a {
            display: none;
        }
    }
}