
@import '~bulma';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto+Condensed:400,700');

/*
 *
 * GENERAL
 *
 */

$white: #fff;
$font-main: #243949;
$font-light: #768793;

$light: #f4f7f9;
$deep: #373e4e;

body {
    color: $font-main;
    background: $light;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active {
    color: $font-main;
    border: none;
    outline: none;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0 0px 12px;
}

.logo-link {
    display: flex;
    justify-content: center;
}

.logo {
    max-height: 4em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 0.25em;
    line-height: 1;
    font-weight: 700;
}

h1,
h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 3.5em;
}


h2 {
    font-size: 2.75em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

.card {
    padding: 1em;
    margin-bottom: 1.25em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    color: $font-main;
}

.pagination ul {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    background: $white;
    margin-bottom: 1.25em;
    padding: 0 0.5em;

    .active {
        font-weight: 700;
    }

    a {
        display: block;
        padding: 0.75em 0.5em;
    }
}

/*
 *
 * HEADER
 *
 */

.section--header {
    background-image: linear-gradient(-5deg, #243949 0%, #16222d 100%);
    position: relative;
    z-index: 10;
    padding: 1em 1.5em;

    h1 {
        margin: 0;
    }

    &,
    h1,
    a {
        color: $white;
    }
}


/*
 *
 * CONTENT
 *
 */

.section--content {
    background: $light;

    @include until($tablet) {
        padding-left: 0;
        padding-right: 0;
    }
}

/*
 *
 *  FOOTER
 *
 */

.section--footer {
    background: $white;
    position: relative;
    z-index: 10;
}


/*
 *
 * TOPIC
 *
 */

.topic {

    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 0.9em;
        font-weight: 400;
        color: $font-light;
    }

    .info--reply {
        font-size: 0.9em;
        font-weight: 700;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .info--right {
        text-align: right;
        font-size: 0.9em;
        font-weight: 700;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .info--time {
        color: $font-light;
    }
}


.post_content {
    .smallfont {
        font-weight: 700;
    }
    table td {
        border: 0 !important;
        a {
            display: none;
        }
    }
}